[submodule ".registry"]
	path = .registry
	url = https://github.com/djnavarro/universe
	shallow = true
	branch = HEAD
[submodule "bs4cards"]
	path = bs4cards
	url = https://github.com/djnavarro/bs4cards
	shallow = true
	registered = true
[submodule "flametree"]
	path = flametree
	url = https://github.com/djnavarro/flametree
	shallow = true
	registered = true
[submodule "lsr"]
	path = lsr
	url = https://github.com/djnavarro/lsr
	shallow = true
	registered = true
[submodule "jasmines"]
	path = jasmines
	url = https://github.com/djnavarro/jasmines
	shallow = true
	registered = true
