[submodule ".registry"]
	path = .registry
	url = https://github.com/djnavarro/djnavarro.r-universe.dev
	branch = HEAD
[submodule "arttools"]
	path = arttools
	url = https://github.com/djnavarro/arttools
[submodule "emaxnls"]
	path = emaxnls
	url = https://github.com/djnavarro/emaxnls
[submodule "erglm"]
	path = erglm
	url = https://github.com/djnavarro/erglm
[submodule "erplots"]
	path = erplots
	url = https://github.com/djnavarro/erplots
[submodule "flametree"]
	path = flametree
	url = https://github.com/djnavarro/flametree
[submodule "lsr"]
	path = lsr
	url = https://github.com/djnavarro/lsr
[submodule "quartose"]
	path = quartose
	url = https://github.com/djnavarro/quartose
[submodule "queue"]
	path = queue
	url = https://github.com/djnavarro/queue
[submodule "sessioncheck"]
	path = sessioncheck
	url = https://github.com/djnavarro/sessioncheck
[submodule "waeponwifestre"]
	path = waeponwifestre
	url = https://github.com/djnavarro/waeponwifestre
